{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- <title>Docmed</title> -->
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png"> -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="../../static/img/Frame_3-removebg-preview.png"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/Frame_3-removebg-preview.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- Example Bootstrap CDN links -->

    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 ">
                            <div class="social_media_links">
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="mailto:medicare@contact.com"> <i class="fa fa-envelope"></i> medicare@contact.com</a></li>
                                    <li><a href="#"> <i class="fa fa-phone"></i> 234 8032 482 069</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'img/Frame_2__1_-removebg-preview.png' %}" alt="">
                                    <!-- <img src="../../static/img/Frame_2__1_-removebg-preview.png" alt=""> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'home' %}">home</a></li>
                                        <li><a href="{% url 'department' %}">Department</a></li>
                                        <li><a href="{% url 'post' %}">blog</a></li>
                                        <!-- <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="{% url 'post' %}">blog</a></li>
                                                <li><a href="single-blog.html">single-blog</a></li>
                                            </ul>
                                        </li> -->
                                        <!-- <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="elements.html">elements</a></li>
                                                <li><a href="about.html">about</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a href="{% url 'doctors' %}">Doctors</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a class="popup-with-form" href="#test-form">Make an Appointment</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} -->

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }} {% if message.tags == 'success' %}toast-message{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}

    {% endblock %}
    
    <!-- <div class="msg" data-status="offline">You're offline 😢</div>
    <div class="msg" data-status="online">You're connected 🔗</div> -->
    <!-- footer start -->

    
    
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <!-- <img src="{% static 'img/footer-logo.png' %}" alt=""> -->
                                    <img src="{% static 'img/logo-footer.png' %}" alt="">
                                </a>
                            </div>
                            <p>
                                    Firmament morning sixth subdue darkness 
                                    creeping gathered divide.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://web.facebook.com/david.omisakin/">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/davidomizz">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/davidomizz/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Departments
                            </h3>
                            <ul>
                                {% if departments %}
                                    {% for department in departments %}
                                        <li><a href="{% url 'single_department' department.slug %}">{{  department.name }}</a></li>
                                    {% endfor %}
                                {% endif %}
                                    <!-- <li><a href="#">Skin Care</a></li>
                                    <li><a href="#">Pathology</a></li>
                                    <li><a href="#">Medicine</a></li>
                                    <li><a href="#">Dental</a></li> -->
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Useful Links
                            </h3>
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'department' %}">Department</a></li>
                                <li><a href="{% url 'post' %}">Blog</a></li>
                                <li><a href="{% url 'doctors' %}">Doctors</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Address
                            </h3>
                            <p>
                                Lagos, Nigeria <br>
                                +234 8032 482 069 <br>
                                <a href="mailto:medicare@contact.com" class="text-white">medicare@contact.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by <a href="https://davidomizz.pythonanywhere.com/" target="_blank">davidomizz</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end  -->
    <!-- link that opens popup -->

    <!-- form itself end-->
    <form id="test-form" class="white-popup-block mfp-hide" action="" method="POST">
        <div class="popup_box">
            <div class="popup_inner">
                <h3>Make an Appointment</h3>
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-xl-6 col-md-6 col-12">
                            Take this out...<input id="datepicker" placeholder="Pick date">
                            {{ appointment.appointment_date }}
                        </div>
                        <div class="col-xl-6 col-md-6">
                            Take this out...<input id="datepicker2" placeholder="Suitable time">
                            {{ appointment.appointment_time }}
                        </div>  -->
                        <div class="col-xl-6 col-md-6">
                            <select class="form-select wide" id="default-select" name="department" required>
                                <option value="" selected disabled>Select Department</option>
                                {% for department in appointment.department.field.queryset %}
                                    <option value="{{ department.id }}">{{ department.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <select class="form-select wide" name="doctor" required>
                                <option value="" selected disabled>Select Doctor</option>
                                {% for doctor in appointment.doctor.field.queryset %}
                                    <option value="{{ doctor.id }}">{{ doctor.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="col-xl-6 col-md-6">
                            <!-- <input type="text"  placeholder="Name"> -->
                            {{ appointment.patient_name }}
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <!-- <input type="text"  placeholder="Phone no."> -->
                            {{ appointment.number }}
                        </div>
                        <div class="col-xl-12 col-md-6">
                            <!-- <input type="email"  placeholder="Email"> -->
                            {{ appointment.patient_email }}
                        </div>
                        <div class="col-xl-12">
                            {% csrf_token %}
                            <button type="submit" class="boxed-btn3">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- form itself end -->

    <!-- <script>
        // Check if the page has a success message and display an alert
        document.addEventListener('DOMContentLoaded', function() {
            var successMessage = document.querySelector('.messages .success');
            if (successMessage) {
                alert(successMessage.textContent);
            }
        });
    </script> -->
    <!-- <script>
        // Check if the page has a success message and display a toast
        document.addEventListener('DOMContentLoaded', function() {
            var successMessage = document.querySelector('.messages .success');
            if (successMessage) {
                Toastify({
                    text: successMessage.textContent,
                    duration: 3000,  // Toast duration in milliseconds
                    gravity: 'top',  // Toast position: 'top', 'bottom', 'left', 'right'
                    position: 'right',  // Gravity position: 'top', 'bottom', 'left', 'right'
                    close: true,  // Whether to show a close button
                    backgroundColor: '#4CAF50',  // Background color of the toast
                    stopOnFocus: true,  // Stop the toast when the window/tab is focused
                }).showToast();
            }
        });
    </script> -->


    <!-- <script>
        // Check if the page has a success message and display a toast
        document.addEventListener('DOMContentLoaded', function() {
            var successMessage = document.querySelector('.messages .success');
            if (successMessage) {
                Toastify({
                    text: successMessage.textContent,
                    duration: 3000,
                    gravity: 'top',
                    position: 'right',
                    close: true,
                    backgroundColor: '#4CAF50',
                    stopOnFocus: true,
                }).showToast();
            }
        });
    </script>
     -->

    <!-- Add the Toastify script -->
    <!-- <script>
        // Check if the page has a success message and display a toast
        document.addEventListener('DOMContentLoaded', function() {
            var successMessage = document.querySelector('.messages .success');
            if (successMessage) {
                Toastify({
                    text: successMessage.textContent,
                    duration: 3000,
                    gravity: 'top',
                    position: 'right',
                    close: true,
                    backgroundColor: '#4CAF50',
                    stopOnFocus: true,
                }).showToast();
            }
        });
    </script> -->
    <script>
        // Check if the page has a success message and display a toast
        document.addEventListener('DOMContentLoaded', function() {
            var successMessage = document.querySelector('.messages .success');
            if (successMessage) {
                // Hide the success message element
                successMessage.style.display = 'none';
    
                // Show the Toastify toast
                Toastify({
                    text: successMessage.textContent,
                    duration: 4000,
                    gravity: 'top',
                    position: 'center',
                    close: true,
                    backgroundColor: '#009DFF',
                    stopOnFocus: true,
                }).showToast();
            }
        });

        // const status = document.querySelector('.status');
        // window.addEventListener('load', () => {
        // const handleNetworkChange = () => {
        //     if (navigator.onLine) {
        //         // status.classList.remove('offline');
        //         console.log('Offline');
        //     } else {
        //         // status.classList.add('offline');
        //         console.log('Online');
        //     }
        // };

        // window.addEventListener('online', handleNetworkChange);
        // window.addEventListener('offline', handleNetworkChange);
        // });
        const status = document.querySelector('.status');
        window.addEventListener('load', function() {
            if (navigator.onLine) {
                // User is online
                // alert('You are currently online.');
                // Toastify({
                //     text: 'You are currently online',
                //     duration: 3000,
                //     gravity: 'bottom',
                //     position: 'center',
                //     close: true,
                //     backgroundColor: 'green',
                //     stopOnFocus: true,
                // }).showToast();

            } else {
                // User is offline
                // alert('You are currently offline. Please check your internet connection.');
                Toastify({
                    text: 'You are currently offline. Please check your internet connection.',
                    duration: 5000,
                    gravity: 'bottom',
                    position: 'center',
                    close: true,
                    backgroundColor: 'red',
                    stopOnFocus: true,
                }).showToast();
            }

            // Event listener to handle online/offline changes
            window.addEventListener('online', function() {
                Toastify({
                    text: 'You are now online.',
                    duration: 3000,
                    gravity: 'bottom',
                    position: 'center',
                    close: true,
                    backgroundColor: 'green',
                    stopOnFocus: true,
                }).showToast();
                // alert('You are now online.');
            });

            window.addEventListener('offline', function() {
                // alert('You are now offline. Please check your internet connection.');
                Toastify({
                    text: 'You are now offline. Please check your internet connection.',
                    duration: 5000,
                    gravity: 'bottom',
                    position: 'center',
                    close: true,
                    backgroundColor: 'red',
                    stopOnFocus: true,
                }).showToast();
            });
        });

    </script>
        
    


    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }

    });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
    });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const form = document.getElementById("test-form");
            const currentPath = window.location.pathname;
        
            // Define a mapping of URL paths to form action URLs
            const formActions = {
                "/home/": "{% url 'home' %}",
                "/department/": "{% url 'department' %}",
                "/doctors/": "{% url 'doctors' %}",
                "/contact/": "{% url 'contact' %}",
            };
        
            // Set the form's action attribute based on the current page
            if (currentPath in formActions) {
                form.action = formActions[currentPath];
            }
        });
        </script>
</body>
</html>